<div class="inputFieldContainer">
  <!--Grid column-->
  <div class="col-md-6">

    <!-- Default form login -->
    <form class="text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <p class="h4 mb-4">Login</p>

      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" formControlName="email" class="form-control mb-4" placeholder="E-mail" required>

      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" formControlName="password" class="form-control mb-4" placeholder="Password" required>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button [disabled]="loading" class="btn btn-info btn-block my-4" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Sign in
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <!-- Register -->
      <p>Not a member?
        <a routerLink="/create-account">Register</a>
      </p>

    </form>
    <!-- Default form login -->

  </div>
  <!--Grid column-->
</div>
