<div class="mainContainer">
  <div id="slideshow" class="content-container">
    <div style="width: 100%; height: 456px" class="content-container">
      <h1> Huge Ass Flashy Slideshow</h1>

      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100"  src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>

    <div class="content-container">
      <p>THE ALL NEW "BOA X CHAMPION COLLECTION"</p>
      <button class="btn btn-dark" routerLink="/products" style="height: 45px; width: 132px; color: gold">Shop Now</button>
    </div>
  </div>
  <div id="origin" class="content-container">
    <div>
      <h2>Origins</h2>
    </div>
    <div>
      <p>
        BOA is a Canadian based online clothing brand with the goal
        of bridging the gap between streetwear and high fashion.
        We offer unique high quality products with comfort, style,
        and fashion in mind. Our creativity will be further
        demonstrated upon the release of exciting limited collections.
      </p>
    </div>
  </div>
  <div id="featuredCollection" class="content-container">
    <app-collection-list></app-collection-list>
  </div>
  <div id="newsletter" class="content-container">
    <div>
      <h2>Subscribe to our newsletter</h2>
    </div>
    <div>
      <p>Subscribe to get the latest news on upcoming collection drops and sales</p>
    </div>
    <form class="content-container">
      <div>
        <input class="form-control mb-4" type="text" placeholder="Your email">
        <span>
          <button class="btn btn-secondary">
            <span>Subscribe</span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
