<div>
  <div id="slideshow" style="text-align: center">
    <div style="width: 100%; height: 456px; text-align: center">
      <h1> Huge Ass Flashy Slideshow</h1>
    </div>
    <div>
      <p>THE ALL NEW "BOA X CHAMPION COLLECTION"</p>
      <button routerLink="" style="background-color: greenyellow; text-decoration: none; height: 45px; width: 132px">Shop Now</button>
    </div>
  </div>
  <div id="origin" style="text-align: center">
    <div>
      <h2>Origins</h2>
    </div>
    <div>
      <p>
        BOA is a Canadian based online clothing brand with the goal
        of bridging the gap between streetwear and high fashion.
        We offer unique high quality products with comfort, style,
        and fashion in mind. Our creativity will be further
        demonstrated upon the release of exciting limited collections.
      </p>
    </div>
  </div>
  <div id="featuredCollection" style="text-align: center">
    <div>
      <h2>Featured Collection</h2>
    </div>
    <div>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
  <div id="newsletter" style="text-align: center">
    <div>
      <h2>Subscribe to our newsletter</h2>
    </div>
    <div>
      <p>Subscribe to get the latest news on upcoming collection drops and sales</p>
    </div>
    <form accept-charset="UTF-8">
      <div>
        <input placeholder="Your email">
        <span>
          <button>
            <span>Subscribe</span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
