
<div *ngIf="products">
  <h1>{{name}}</h1>
  <div>
    <ul *ngFor="let product of products">
      <li>
        <a routerLink="/products/{{product.id}}">
          <div style="display: inline-block"><h6 *ngIf="product.collection">"{{product.collection.name}}"</h6>   {{product.name}} - {{product.price | currency}}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!products">
  <div class="d-flex justify-content-center">
    <div class="spinner-border loader" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

