<div *ngIf="products" class="container" style="padding-left: 25px; padding-right: 20px">
  <div *ngIf="products" id="categoryName"><h1>{{productService.properType}}</h1></div>
  <div class="row">
    <ul class="card card-cascade card-custom" *ngFor="let product of products">
      <li style="list-style: none;  text-align: center">
        <a routerLink="/productdetail/{{product.id}}">

          <div class="view view-cascade overlay" style="border-radius: 5%">
            <img class="card-img-top" src="{{product.pictures[0].pictureLink}}" >
            <a>
              <div class="mask rgba-yellow-light"></div>
            </a>
          </div>

          <div class="card-body card-body-cascade text-center" style="color: black">

            <h4 class="card-title"><strong *ngIf="product.collection">{{product.collection.name}}</strong></h4>

            <h6 class="font-weight-bold py-2">{{product.name}} - {{product.price | currency}}</h6>

          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!products && !productsInStock()">
  <div class="d-flex justify-content-center">
    <div class="spinner-border loader" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="!products && productsInStock()" id="noProductsContainer">
  <p style=" font-size:30px">Currently no products in this category.</p>
  <br>
  <button type="button" class="btn btn-light" id="backButton" (click)="this.productService.setFilter('','Available Products')" routerLink="/products">Back to the store</button>
</div>
