<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of allCollections">
    <th scope="row">{{c.id}}</th>
    <td>{{c.name}}</td>
    <td>{{c.products.length}}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="!allCollections">
  <div class="d-flex justify-content-center">
    <div class="spinner-border loader" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
