<div class="container">
    <div class="row" style="padding-bottom:5px; padding-top: 5px">
      <div class="col-2">Name: </div>
      <div class="col"><input [(ngModel)]="product.name"></div>
    </div>
  <div class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2">Type: </div>
    <div class="col"><input [(ngModel)]="product.type"></div>
  </div>
  <div class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2">Gender: </div>
    <div class="col">
      <select [(ngModel)]="product.gender" style="height: 30px">
        <option value="" disabled hidden>Select gender</option>
        <option value="Men">Male</option>
        <option value="Women">Female</option>
        <option value="Unisex">Unisex</option>
      </select>
    </div>
  </div>
  <div class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2">Price: </div>
    <div class="col"><input [(ngModel)]="product.price" type="number"></div>
  </div>
  <div class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2">Discounted price: </div>
    <div class="col"><input [(ngModel)]="product.discountPrice"type="number">(Leave at 0 for no discount)</div>
  </div>
  <div *ngIf="togCol==1" class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2"><button (click)="removeCollection()"> Remove Collection</button></div>
    <div class="col">
      <select [(ngModel)]="product.collection.id" style="height: 30px">
        <option value="0" disabled hidden>Choose collection</option>
        <option *ngFor="let c of collections" value="{{c.id}}">{{c.name}}</option>
      </select>
    </div>
  </div>

  <div *ngIf="togCol==0" class="row" style="padding-bottom:5px; padding-top: 5px">
    <div class="col-2"><button (click)="addCollection()"> Add Collection</button></div>
    <div class="col">No collection</div>
  </div>
  <div>Description:</div>
  <div><textarea [(ngModel)]="product.description"></textarea></div>
  <a routerLink="/admin">
    <button>Cancel</button>
  </a>
  <button (click)="save()">Save</button>
</div>
