<div class="d-flex divContainer">
<nav class="navbar navbar-expand">

  <!-- Navbar brand -->
<a class="navbar-brand" routerLink="products" (click)="setFilter('','','Available Products')" ><img src="../../../assets/Images/Logos/BOALogo.png" class="logo"/></a>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle" (click)="setFilter('gender=men','/Men', 'Men')">
          MEN<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" (click)="setFilter('gender=men&type=T-Shirts','/Men-T-Shirts','T-Shirts')">T-Shirts</a>
          <a class="dropdown-item" (click)="setFilter('gender=men&type=Hoodies And Sweatshirts','/Men-Hoodies-Sweatshirts','Hoodies & Sweatshirts')">Hoodies & Sweatshirts</a>
          <a class="dropdown-item" (click)="setFilter('gender=men&type=Accessories','/Men-Accessories','Accessories')">Accessories</a>
        </div>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle" (click)="setFilter('gender=women','/Women', 'Women')">
         WOMEN<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Tops','/Women-Tops', 'Tops')">Tops</a>
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Dresses And Skirts','/Women-Dresses-Skirts','Dresses & Skirts')">Dresses & Skirts</a>
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Hoodies And Sweatshirts','/Women-Hoodies-Sweatshirts','Hoodies & Sweatshirts')">Hoodies & Sweatshirts</a>
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Sportswear','/Women-Sportswear','Sportswear')">Sportswear</a>
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Swimwear','/Women-Swimwear','Swimwear')">Swimwear</a>
          <a class="dropdown-item" (click)="setFilter('gender=women&type=Accessories','/Women-Accessories','Accessories')">Accessories</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle" routerLink="/collections">
          COLLECTIONS<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <ul *ngFor="let collection of collections" class="list-unstyled">
          <li>
            <a class="dropdown-item waves-light" (click)="setFilter('Collection=' + collection.name,'/'+collection.name.trim(),collection.name+' Collection')">{{collection.name}}</a>
          </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-light">BLOG</button>
      </li>

      <li class="icon" id="profileIcon">
        <a routerLink="/login">
          <i class="fas fa-user" style="color: black"></i>
        </a>
      </li>
      <li  class="icon">
        <form action="">
          <input type="text" id="search" placeholder="Search" aria-label="Search">
          <i class="fa fa-search"></i>
        </form>
      </li>
      <li class="icon">
        <a routerLink="/cart">
        <i class="fas fa-shopping-cart" style="color: black">
          <div class="basket-count">{{cartItems}}</div>
        </i>
        </a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</nav>
</div>
