.divContainer{
  width: 95%;
  margin: auto;
  background-color: white;
  border: none;
}
.logo{
  width: 30%;
  height: auto;
}


.nav-link{
  color: black;
  font-weight: bold;
  font-family: Calibri;
  font-size: large;
}
.icon{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 30px;
}
#profileIcon{
  padding-left: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;

}

.nav-item:hover{
  border-top: solid black 1px;
}

.navbar{
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}




.basket-count {
  width: 22px;
  line-height: 22px;
  background-color: #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  position: absolute;
  top: 23%;
  right: 1%;
  color: #000;
  font-size: 12px;
  text-align: center;
  z-index: 1000000;
  display: block;
}
