.divContainer{
  padding: 0 2rem;
}
.logo{
  width: 40%;
  height: auto;
}


.nav-link{
  color: black;
  font-weight: bold;
  font-family: Calibri;
  font-size: large;
}
.icon{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 28px;
}
#profileIcon{
  padding-left: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;

}

.nav-item:hover{
  border-top: solid black 1px;
}

.navbar{
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}




.basket-count {
  width: 22px;
  line-height: 22px;
  background-color: #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  position: absolute;
  top: 25%;
  right: 1%;
  color: #000;
  font-size: 12px;
  text-align: center;
  z-index: 1000000;
  display: block;
}

.btn-outline-light {
  color: black !important;
}

form{
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 30px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  display: none;
  outline: none;
  border-radius: 20px;
  padding: 0 20px;
  border: black dashed thin;
  font-size: 0.5em;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 28px;
  transition: all 1s;
}

form:hover{
  width: 200px;
  cursor: pointer;
}

form:hover input{
  display: block;
}


