<div style="background-color: white; display: inline-flex">
  <ul>
    <li></li>
    <li>
      <a routerLink="/products">Men</a>
      <ul>
        <li routerLink="">T-shirts</li>
        <li routerLink="">Hoodies & Sweatshirts</li>
        <li routerLink="">Accessories</li>
      </ul>
    </li>
    <li>
      <a routerLink="/products/women">Women</a>
      <ul>
        <li routerLink="">Tops</li>
        <li routerLink="">Dresses & Skirts</li>
        <li routerLink="">Hoodies & Sweatshirts</li>
        <li routerLink="">Sportswear</li>
        <li routerLink="">Swimwear</li>
        <li routerLink="">Accessories</li>
      </ul>
    </li>
    <li>
      <a routerLink="/collections">Collections</a>
      <ul>
        <li></li>
      </ul>
    </li>
    <li routerLink="/blog">Blog</li>
    <li routerLink=""><img src="../../../assets/Images/Icons/userWhite.png" height="28" width="28" style="filter: invert(100%)"/></li>
    <li id="searchBar"><img src="../../../assets/Images/Icons/searchWhite.png" height="28" width="28" style="filter: invert(100%)"/></li>
    <li routerLink="/cart"><img src="../../../assets/Images/Icons/shoppingCartWhite.png" height="28" width="28" style="filter: invert(100%)"/></li>
  </ul>
</div>
