<div class="d-flex divContainer">
<nav class="navbar navbar-expand">

  <!-- Navbar brand -->
<a class="navbar-brand" routerLink="products"><img src="../../../assets/Images/Logos/BOALogo.png" class="logo"/></a>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle">
          MEN<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" href="#">T-Shirts</a>
          <a class="dropdown-item" href="#">Hoodies & Sweatshirts</a>
          <a class="dropdown-item" href="#">Accessories</a>
        </div>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle">
         WOMEN<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item" href="#">Tops</a>
          <a class="dropdown-item" href="#">Dresses & Skirts</a>
          <a class="dropdown-item" href="#">Hoodies & Sweatshirts</a>
          <a class="dropdown-item" href="#">Sportswear</a>
          <a class="dropdown-item" href="#">Swimwear</a>
          <a class="dropdown-item" href="#">Accessories</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <button class="btn btn-outline-light dropdown-toggle">
          COLLECTIONS<span class="caret"></span></button>
        <div class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" href="#">BOA x Champion</a>
          <a class="dropdown-item waves-light" href="#">The 6ix Collection</a>
          <a class="dropdown-item waves-light" href="#">The Rose Collection</a>
          <a class="dropdown-item waves-light" href="#">Half in Half Collection</a>
        </div>
      </li>

      <li class="nav-item">
        <button class="btn btn-outline-light">BLOG</button>
      </li>

      <li class="icon" id="profileIcon">
        <a routerLink="/login">
          <i class="fas fa-user" style="color: black"></i>
        </a>
      </li>
      <li  class="icon">
        <form action="">
          <input type="search" id="search" placeholder="Search" aria-label="Search">
          <i class="fa fa-search"></i>
        </form>
      </li>
      <li class="icon">
        <a routerLink="/cart">
        <i class="fas fa-shopping-cart" style="color: black">
          <div class="basket-count">{{cartItems}}</div>
        </i>
        </a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</nav>
</div>
