::-webkit-input-placeholder {
  color: #999;
  transition: color 0.25s ease;
}
:-ms-input-placeholder {
  color: #999;
  transition: color 0.25s ease;
}
::-ms-input-placeholder {
  color: #999;
  transition: color 0.25s ease;
}
::placeholder {
  color: #999;
  transition: color 0.25s ease;
}
input,
textarea {
  width: 100%;
  height: 40px;
  line-height: 1;
  border: 1px solid #d7d8e0;
  border-radius: 3px;
  padding: 0 0.75rem 0 0.75rem;
  font-size: 14px;
  line-height: 40px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:focus,
textarea:focus,
input:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  outline: 0;
  border: 1px solid #eee;
  border-color: #49b8f1;
  background-color: transparent;
}
.container--on-dark input:focus,
.container--on-dark textarea:focus,
.container--on-dark input:not(:placeholder-shown),
.container--on-dark textarea:not(:placeholder-shown) {
  background-color: #fff;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:not(:placeholder-shown)::-webkit-input-placeholder,
textarea:not(:placeholder-shown)::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:not(:placeholder-shown):-ms-input-placeholder,
textarea:not(:placeholder-shown):-ms-input-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder,
input:not(:placeholder-shown)::-ms-input-placeholder,
textarea:not(:placeholder-shown)::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder,
textarea:focus::placeholder,
input:not(:placeholder-shown)::placeholder,
textarea:not(:placeholder-shown)::placeholder {
  color: transparent;
}
input:focus:focus ~ label,
textarea:focus:focus ~ label,
input:not(:placeholder-shown):focus ~ label,
textarea:not(:placeholder-shown):focus ~ label,
input:focus:not(:placeholder-shown) ~ label,
textarea:focus:not(:placeholder-shown) ~ label,
input:not(:placeholder-shown):not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown):not(:placeholder-shown) ~ label {
  transition: opacity 0.25s ease-out, background-color 0.25s ease-out, -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out, background-color 0.25s ease-out;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out, background-color 0.25s ease-out, -webkit-transform 0.25s ease-out;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 1;
  background-color: #fff;
}
input:focus:required ~ label::after,
textarea:focus:required ~ label::after,
input:not(:placeholder-shown):required ~ label::after,
textarea:not(:placeholder-shown):required ~ label::after {
  content: ' *';
  color: #f00;
}
input:valid:not(:focus),
textarea:valid:not(:focus) {
  border-color: #d7d8e0;
}
.input {
  transition: border-color 0.25s ease-out, opacity 0.25s ease-out, background-color 0.25s ease-out;
}
.input--error {
  border-color: #e9aaab;
  background-color: #f8f3f2;
}
.input--error::-webkit-input-placeholder {
  color: #f02917;
}
.input--error:-ms-input-placeholder {
  color: #f02917;
}
.input--error::-ms-input-placeholder {
  color: #f02917;
}
.input--error::placeholder {
  color: #f02917;
}
.input--warning {
  border-color: #e0d19d;
  background-color: #fcfaf2;
}
.input--warning::-webkit-input-placeholder {
  color: #ae8e35;
}
.input--warning:-ms-input-placeholder {
  color: #ae8e35;
}
.input--warning::-ms-input-placeholder {
  color: #ae8e35;
}
.input--warning::placeholder {
  color: #ae8e35;
}
.input--success {
  border-color: #67e7a0;
  background-color: #f8fcfa;
}
.input--success::-webkit-input-placeholder {
  color: #34ca77;
}
.input--success:-ms-input-placeholder {
  color: #34ca77;
}
.input--success::-ms-input-placeholder {
  color: #34ca77;
}
.input--success::placeholder {
  color: #34ca77;
}
label {
  position: absolute;
  left: 0.75rem;
  padding: 3px 4px;
  top: 0;
  background-color: transparent;
  transition: -webkit-transform 0 ease-out;
  transition: transform 0 ease-out;
  transition: transform 0 ease-out, -webkit-transform 0 ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px 4px 0 0;
  pointer-events: none;
  font-size: 10px;
  color: #232323;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.info {
  pointer-events: none;
  width: 100%;
  font-size: 14px;
  color: #999;
  padding: 0.25rem 0.25rem 0 0.25rem;
  display: none;
}
.info--isVisible {
  display: block;
}
.info--error {
  color: #f02917;
}
.info--warning {
  color: #ae8e35;
}
.info--success {
  color: #34ca77;
}
textarea {
  resize: vertical;
  min-height: 100px;
  line-height: 1.5;
  padding: 0.75rem 1rem;
}
.inputWrapper {
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inputWrapper--double {
  max-width: 500px;
}
body {
  padding: 0;
  font-size: 14px;
  color: #232323;
  line-height: 1.5;
  display: flex;
}
.container {
  flex: 1;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
}
.container--on-dark {
  background-color: #232323;
}
form {
  max-width: 300px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
input:-webkit-autofill {
  border-color: #cdde00;
}
input:-webkit-autofill ~ label {
  box-shadow: 0 -10px 0 0 #faffbd inset;
}
