<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="inputWrapper">
      <input class="input" type="text" name="input" formControlName="email" value="" placeholder="E-mail" (input)="hideError('emailError')">
      <label class="label">E-mail</label>
      <span class="info info--error" id="emailError"><i class="fa fa-info-circle"></i>You need to fill out this field!</span>
    </div>

    <div class="inputWrapper">
      <input class="input" type="password" name="input" formControlName="password" value="" placeholder="Password" (input)="hideError('pwError')">
      <label class="label">Password</label>
      <span class="info info--error" id="pwError"><i class="fa fa-info-circle"></i>You need to fill out this field!</span>
    </div>

    <div class="inputWrapper">
      <input class="input" type="password" name="input" formControlName="confirmPassword" value="" placeholder="Confirm Password" (input)="hideError('confpwError')">
      <label class="label">Password</label>
      <span class="info info--error" id="confpwError"><i class="fa fa-info-circle"></i>You need to fill out this field!</span>
    </div>
    <div style="float: right">
      <button class="btn btn-success" type="submit">Create</button>
      <button class="btn btn-danger" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
