<h1>Admin Home</h1>
<div style="padding-bottom: 20px">
  <button routerLink="/admin" id="btn-all-products" (click)="productService.resetFilterToDefault()">All Products</button>
  <button routerLink="/admin/create" id="btn-add-product" (click)="productService.resetFilterToDefault()">Add Product</button>
  <button routerLink="/admin/collection" id="btn-new-collection" (click)="productService.resetFilterToDefault()">New Collection</button>
  <button routerLink="/admin/collection-list" id="btn-collection-list" (click)="productService.displayAllProducts()">Collection List</button>
</div>
<router-outlet></router-outlet>
