
.footerContainer{
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 40px;
  border-top: solid grey 1px;
  padding-bottom: 20px;
}

.rightPart{

  margin-top: 3px;
  text-align: right;
}
.middlePart{
  margin: auto;
  text-align: center;
  margin-top: 3px;

}
.leftPart{
  color: black;
  margin-top: 3px;
}
