<div>
  <div>
    <ul>
      <li routerLink="/about">About</li>
      <li routerLink="">Privacy Policy</li>
      <li routerLink="">Refound Policy</li>
      <li routerLink="">Terms of Service</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <a href="https://www.facebook.com/StreetWearMeetsHighFashion/" title="BOA Fashion on Facebook" style="text-decoration: none; color: black">
        <span>
          <img src="../../../assets/Images/Logos/facebook-icon.png" height="25" width="25"/>
        </span>
        Facebook
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/boa_fashion/" title="BOA Fashion on Facebook" style="text-decoration: none; color: black">
        <span>
          <img src="../../../assets/Images/Logos/instagram-icon.png" height="25" width="25"/>
        </span>
        Instagram
        </a>
      </li>
    </ul>
  </div>
  <div></div>
</div>
