{{collection | json}}
<h6>make spaceeee</h6>
{{collProduct | json}}
<ul class="list-unstyled">
  <li>Name: <input type="text" [(ngModel)]="collection.name"></li>
</ul>
<button (click)="showProducts()" id="addButton">Add Product</button>
<ul class="list-unstyled">
  <li *ngIf="displayProducts">Select product:
    <select id="select" (change)="setID()">
      <option  *ngFor="let ap of allProducts" value="{{ap.id}}">{{ap.name}}</option>
    </select>
  </li>
</ul>
<button (click)="transfer()">Transfer</button>
<button (click)="save()">Save</button>
